<div class="header clearfix">
  <div class="page-header">
    <h1>Pet Store</h1>
    <small>Demo using NodeJs, Express and Knex modules</small>
    <div align="right">
        <a href="/">Home</a>
    </div>
  </div>
</div>
